body {
    line-height: 150%;
    font-size: 18px;
}

.container {
    width: 100%
    max-width: 960px;
    margin: 0 auto;   
}

html, body{
    height: 100%;
}


/*--------------Top navigation bar-----------------*/


/*------------Main section and sidebar------------ */



/*----------SOCIAL ICONS------------*/
#github-logo {
    width: 53px;
    height: 53px;
}


#linkedin-logo {
    width: 53px;
    height: 53px;
}


#stackoverflow-logo {
    width: 53px;
    height: 53px;
}


/*------------PORTFOLIO---------------*/



/*-------Contact form-------*/
.submit-button:hover{
    background-color: orange;
}

.submit-button:active {
    background-color: green;
}

.form-height {
    height: 175px;
}

/*--------Footer/Copyright----------*/
.footer {
    background-color: #666666;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


